body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  padding-top: 110px;
  background-color: rgba(1, 31, 37, 0.466);

}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea, input[type="number"] {
  width: 100%;
  padding: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}